
@{
    ViewBag.Title = "Map";
}
<link href="/css/page_list.css" rel="stylesheet" />

   <div class="box-tab tab-container">
    <ul class="tab-list">
        <li class="tab-header  "><a href="/tree/index">名木古树</a></li>
        <li class="tab-header active"><a href="">古树地图</a></li>
    </ul>
    <div class="tab-contents ">
        <div class="all-content ">
            <div class="list-wrapper">
                <div class="btn-group page-con-height">
                    <div class=" page-btn-search mar-le15">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        <input type="text" class=" input-search  " placeholder="请输入编号/名称搜索" />
                    </div>
                </div>
                <div class="page-map">
                    <!--bgmaps-->
                    <div id="container" style="height:800px;width:100%">

                    </div>
                    <!--end-->
                    <!--float-->
                    <div class="map-float" style="display:none">
                        <div class="float-brief">
                            <div class="top-title">
                                <span id="info-name" class="top-name">银杏（YF0101）</span>
                                <span class="icon-close"></span>
                            </div>
                            <div class="top-images">
                                <img id="tree-photo" src="/images/icon-bl.png" class="img-left" />
                                <img  id="tree-barcode" src="/images/ewm.png" class="img-right">
                            </div>
                        </div>
                        <div class="float-details">
                            <div class="detail-block">
                                <div class="page-li"><span class="icon-xl"></span>基本信息</div>
                                <div class="slist">
                                    <p>古树年龄：<span id="info-age">80年</span></p>
                                    <p>古树高度：<span id="info-height">50M</span></p>
                                    <p>古树胸围：<span id="info-chestSize">100CM</span></p>
                                    <p>古树根围：<span id="info-rootSize">200CM</span></p>
                                    <p>生长状态：<span id="info-status">良好</span></p>
                                </div>
                            </div>
                            <div class="detail-block">
                                <div class="page-li"><span class="icon-xl"></span>地理位置</div>
                                <div class="slist">
                                    <p>地理位置：<span id="info-area">江苏省/无锡市/滨湖区/阳谷街道</span></p>
                                    <p>经度 ：<span id="info-lat">180</span></p>
                                    <p>纬度 ：<span id="info-lon">90</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end-->
                </div>
                <!--end-->
                <!--end-->
            </div>
        </div>
    </div>
</div>
<script src="/js/page_list.js"></script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hMM0UdyU2PGWSFthzv680NIvQiHbqBeo"></script>
    <script>
        
        function initMap() {
            $('.map-float').hide();

            var map = new BMap.Map("container");
            var point = new BMap.Point(116.404, 39.715);
            $.getJSON("/tree/mapdata", function (data) {
                FillMap(map, data);
            }); 
        }

        function fillInfoPanel(tree)
        {
            $('#tree-photo').attr('src', tree.Photo);
            $('#tree-barcode').attr('src','/tree/barcode/'+tree.ID)
            $('#info-name').html(tree.Name + '(' + tree.Number + ')');
            $('#info-age').html(tree.Age+"年");
            $('#info-height').html(tree.Height+"米");
            $('#info-chestSize').html(tree.ChestSize+"厘米");
            $('#info-rootSize').html(tree.RootSize+"厘米");
            $('#info-status').html(tree.Health);
            $('#info-lat').html(tree.Latitude);
            $('#info-lon').html(tree.Longtitude);
            $('#info-area').html(tree.City)
            $('.map-float').show();

        }

        function FillMap(map, data) {

            function addClickHandler(marker, content, opts,tree) {
                marker.addEventListener("mouseover", function (e) {
                    openInfo(content, e, opts)
                });

                marker.addEventListener("click", function (e) {
                    fillInfoPanel(tree);
                });
            }

            function openInfo(content, e, opts) {
                var p = e.target;
                var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象 
                map.openInfoWindow(infoWindow, point); //开启信息窗口
            }

            if (data.data.length > 0) {
                var icon = new BMap.Icon("/Content/icon-tit.png", new BMap.Size(30, 30), {
                    offset: new BMap.Size(10, 25), // 指定定位位置               
                });
                icon.setImageSize(new BMap.Size(30, 30));
                var points = [];
                for (var i = 0; i < data.data.length; i++) {
                    points[i] = new BMap.Point(data.data[i].Longtitude, data.data[i].Latitude);
                }
                var view = map.getViewport(eval(points));
                var mapZoom = view.zoom;
                var center = view.center;

                map.centerAndZoom(center, mapZoom);
                map.enableScrollWheelZoom(true);
                for (var index in data.data) {
                    var tree = data.data[index];

                    var marker = new BMap.Marker(new BMap.Point(tree.Longtitude, tree.Latitude), { icon: icon });
                    var content = "编号:" + tree.Number + "<br/>" + "拉丁名称:" + tree.NameLatin;
                    var opts = {
                        width: 70,     // 信息窗口宽度
                        height: 35,     // 信息窗口高度
                        title: tree.Name, // 信息窗口标题
                        enableMessage: true//设置允许信息窗发送短息
                    };
                    addClickHandler(marker, content, opts,tree);

                    map.addOverlay(marker);
                }
            } else {
                map.centerAndZoom("北京");
            }
        }

        $(initMap);
   

</script>