.page-content .product-list .list-link .link-item {
  height: auto;
  line-height: normal;
  padding: .25rem 0;
}
.page-content .product-list .list-link .link-item a {
  display: inline-block;
  width: 100%;
}
.page-content .product-list .list-link .link-item .item-left {
  width: 30%;
  position: relative;
}
.page-content .product-list .list-link .link-item .item-left img {
  max-width: 100%;
}
.page-content .product-list .list-link .link-item .item-right {
  left: 38%;
  right: .05rem;
  top: .25rem;
  font-size: .6rem;
  bottom: .25rem;
  color: #000;
}
.page-content .product-list .list-link .link-item .item-right:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.page-content .product-list .list-link .link-item .item-right span {
  vertical-align: middle;
}
