
@{
    ViewBag.Title = "新建用户";
}
<link href="/css/page_editor.css" rel="stylesheet" />
<link href="/css/new_user.css" rel="stylesheet" />

<div class="tab-container">
    <div class="tab-navs">
        <a class="active">新建用户</a>
        <a>修改密码</a>
    </div>
    <div class="tab-contents">
        <p class="contents-title">用户信息</p>
        <div class="field-line">
            <span class="line-left">用户名称<i class="">*</i></span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-line">
            <span class="line-left">密码<i class="">*</i></span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-line">
            <span class="line-left">姓名</span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-line">
            <span class="line-left">联系方式</span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-line">
            <span class="line-left">单位<i class="">*</i></span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-line">
            <span class="line-left">标题<i class="">*</i></span>
            <div class="line-right"><input type="text" class="input-long" /></div>
        </div>
        <div class="field-btn">
            <button class="btn btn-save">保存</button>
            <button class="btn btn-cancel">取消</button>
        </div>
    </div>
</div>

<script src="/js/new_user.js"></script>